[build]
  command="gatsby build && cd functions/search && npm i"
  functions = "functions"
  publish = "public"

[[redirects]]
  from = "/search-cases"
  to = "/.netlify/functions/search"
  status = 200
  force = true
  headers = { X-From = "Netlify" }

[[redirects]]
  from = "/api"
  to = "/.netlify/functions/api"
  status = 200
  force = true
  headers = { X-From = "Netlify" }

[functions]
  node_bundler = "esbuild"